<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e38be1e3-6de7-4ece-85a2-39101bf02e09/resourceGroups/My-CRM/providers/Microsoft.Web/sites/My-CRM</ResourceId>
    <ResourceGroup>My-CRM</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://my-crm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>my-crm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>My-CRM</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$My-CRM</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mycrm.database.windows.net,1433;Initial Catalog=MyCRM5;User ID=tarkowr@mycrm.database.windows.net;Password=Basketball23" Name="Data Source=tcp:mycrm.database.windows.net,1433;Initial Catalog=MyCRM5;User Id=tarkowr@mycrm.database.windows.net;Password=Basketball23;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyCRM.Models.ApplicationDbContext, MyCRM" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:mycrm.database.windows.net,1433;Initial Catalog=MyCRM5;User ID=tarkowr@mycrm.database.windows.net;Password=Basketball23" Name="Data Source=tcp:mycrm.database.windows.net,1433;Initial Catalog=MyCRM5;User Id=tarkowr@mycrm.database.windows.net;Password=Basketball23;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyCRM.DAL.DataContext, MyCRM" MigrationConfiguration="MyCRM.Migrations.Configuration, MyCRM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mycrm.database.windows.net,1433;Initial Catalog=MyCRM5;User Id=tarkowr@mycrm.database.windows.net;Password=Basketball23;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mycrm.database.windows.net,1433;Initial Catalog=MyCRM5;User Id=tarkowr@mycrm.database.windows.net;Password=Basketball23;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>