@{
    ViewBag.Title = "About";
}
<div class="py-5">
    <h1 style="font-weight:300;">@ViewBag.Message</h1>
    <p class="lead text-muted">The vision for MyCRM was &mdash; and still is &mdash; to provide top-notch CRM services so that our clients have one less thing to worry about. We are excited to be working with you as we help your business reach its maximum potential through our cloud services.</p> <br />
    <a class="btn btn-primary px-3 py-2" href="/Home/Contact">Contact Us &raquo;</a>
    <a class="btn btn-outline-primary px-3 py-2" href="/Dashboard">Get Started &raquo;</a>
</div>
