@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>@ViewBag.Message</h1>
    <p class="lead text-muted">MyCRM was founded in 2005 by Richie Tarkowski. His vision was &mdash; and still is &mdash; to provide top-notch CRM services so that our clients have one less thing to worry about. We are excited to be working with you as we help your business reach its maximum potential through our CRM software.</p> <br />
    <a class="btn btn-primary" href="/Home/Contact">Contact Us &raquo;</a>
</div>
