@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>@ViewBag.Title Us</h1>
    <p class="lead text-muted">@ViewBag.Message</p> <br />
    <a class="btn btn-primary" href="mailto:team@mycrm.com">Email Us &raquo;</a>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <address>
                <h3>Ann Arbor, MI</h3>
                2300 Traverwood Dr.<br />
                Ann Arbor, MI 48105 <br />
                United States<br /> <br />
                <strong>Customer Support:</strong> <a href="mailto:annarbor.support@mycrm.com">annarbor.support@mycrm.com</a><br />
                <strong>Call us:</strong> 425.555.0100
            </address>
        </div>

        <div class="col-sm-4">
            <address>
                <h3>Denver, CO</h3>
                1444 Wall Street<br />
                Denver, CO 46612 <br />
                United States<br /> <br />
                <strong>Customer Support:</strong> <a href="mailto:denver.support@mycrm.com">denver.support@mycrm.com</a><br />
                <strong>Call us:</strong> 425.555.0200
            </address>
        </div>

        <div class="col-sm-4">
            <address>
                <h3>Traverse City, MI</h3>
                833 Cass Rd.<br />
                Traverse City, MI 49684 <br />
                United States<br /> <br />
                <strong>Customer Support:</strong> <a href="mailto:tc.support@mycrm.com">tc.support@mycrm.com</a><br />
                <strong>Call us:</strong> 425.555.0300
            </address>
        </div>
    </div>
</div>
