@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>MyCRM</h1>
    <p class="lead text-muted">MyCRM is a simple, yet powerful CRM service in the cloud. It is designed to work with companies of all sizes within most industries.</p> <br />
    <a class="btn btn-primary" href="/Dashboard">Get Started &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            Welcome to your MyCRM Home page. From here, you can access your Customers, Accounts, and more through the navigation bar on the top of your screen.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            To start adding your customers to MyCRM, go to <strong>Customers</strong>. To view all of the customer accounts in one place, visit <strong>Accounts</strong>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What's Next?</h2>
        <p>
            Keep an eye out for our biannual (Summer and Winter) updates to MyCRM. These updates will introduce new features to enhance your experience with our product.
        </p>
    </div>
</div>