body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.dashboard-icon > span {
    margin-left: 15px;
    border: 1px solid #337ab7;
    padding: 3px 3px 4px 4px;
    background-color: white;
}
.dashboard-icon > span:hover{
    background-color: #337ab7;
    color: white;
}
.crm-table > tbody > tr:first-child{
    background-color: #f2f2f2;
}
.search-btn {
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    border: 1px solid #2e6da4;
    padding: 5px 10px;
    margin-left: 15px;
}
.search-btn:hover {
    background-color: #2e6da4;
}

.search-input{
    border-radius: 0px;
    border: 1px solid #808080;
    padding: 5px 10px;
}
.search-input:hover{
    border-radius: 20px;
    transition: border-radius .5s;
}
.search-input:focus{
    outline: none;
}
